header {
    background-color: blueviolet;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.menu-haburguer {
    display: none;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 5px;
    background-color: rgb(23, 56, 56);
    margin: 5px;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li a {
    color: rgb(3, 2, 11);
    text-decoration: none;
    padding: 12px;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

img {
    float: left;
    width: 60%;
    border: thin solid;
    padding: 5px;
    margin: 0px 10px 10px 0;
}

.conteudo {
    display: flex;

}

footer {
    background-color: lightblue;
    padding: 10px;
    width: 100%;
    display: flex;

}

.container-footer {
    display: flex;
    justify-content: space-between;
}

@media(max-width:768px) {

    .menu-haburguer {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .menu li {
        margin: 10px 0;
    }

    .menu.active {
        display: flex;
    }

    .container {
        display: inline-block;
    }

    .coluna {
        margin-bottom: 20px;
    }


}